$brand-color:         #09334e;
$highlight:           lighten($brand-color, 35%);
$text-color:          #dfdfdf;
$muted-text-color:    #ececec;
$font-family:         "Inter", sans-serif;

$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;